# local package
-e .

# external requirements
Sphinx
click
coverage
flake8
matplotlib~=3.7.1
mypy
numpy~=1.23.1
pandas~=1.5.3
pytest
pytest-cov
python-dotenv>=0.5.1
pyyaml~=6.0
scikit-learn~=1.1.1
scipy~=1.9.1
seaborn~=0.11.2
statsmodels~=0.13.5
hydra-core~=1.3.2
hydra-colorlog~=1.2.0
